{% load i18n %}
<div class="mentoring themed-xblock" data-step="{{ self.step }}" data-feedback_label="{{ self.feedback_label }}" data-hide_feedback="{{ self.hide_feedback }}">
  <div class="missing-dependency warning" data-missing="{{ self.has_missing_dependency }}">
    {% with url=missing_dependency_url|safe %}
    {% blocktrans with link_start="<a href='"|add:url|add:"'>" link_end="</a>" %}
    You need to complete {{link_start}}the previous step{{link_end}} before
    attempting this step.
    {% endblocktrans %}
    {% endwith %}
  </div>

  {% if show_title and title %}
  <div class="title">
    <h3>{{ title }}</h3>
  </div>
  {% endif %}

  <div>

    {{child_content|safe}}

    {% if self.display_submit %}

    <div class="grade" data-score="{{ self.score.1 }}"
         data-correct_answer="{{ self.score.2|length }}"
         data-incorrect_answer="{{ self.score.3|length }}"
         data-partially_correct_answer="{{ self.score.4|length }}"
         data-max_attempts="{{ self.max_attempts }}"
         data-num_attempts="{{ self.num_attempts }}"
         data-extended_feedback="{%if self.extended_feedback %}True{% endif %}"
         data-assessment_review_tips="{{ self.review_tips_json }}"
         data-correct="{{ self.correct_json }}"
         data-incorrect="{{ self.incorrect_json }}"
         data-partial="{{ self.partial_json }}">
    </div>

    <div class="submit" style="width: 100%;">
      <div>
         <input type="button" class="input-main" value="{% trans "Submit" %}" disabled="disabled"/>
      </div>

      


      
        {% if self.gamification_active.0 and not self.gamification_active.1 %}
       <div class="score" data-curr_score="{{ self.score.1 }}" data-username="{{ self.additional_publish_event_data.username }}" style="width: 100%;  margin-top: 30px;"></div>

        {% endif %}

        {% if self.gamification_active.1 %}

        <div class="attempts" data-max_attempts="{{ self.max_attempts }}" data-num_attempts="{{ self.num_attempts }}" data-leaderboard0="{{ self.leaderboard }}" data-username="{{ self.additional_publish_event_data.username }}" data-curr_score="{{ self.score.1 }}" style="width: 100%;  margin-top: 30px;"></div>
          
        {% endif %} 




    </div>

    {% endif %}
    <div class="messages" tabindex="-1"></div>
    <div class="assessment-review-tips"></div>
  </div>
  <div class="review-link"><a href="#">{% trans "Review final grade" %}</a></div>


    <!--<div>
      Leaderboard
 
        
       <div>
        {{ self.additional_publish_event_data.username }}
      </div>
      
      <div>
        {{ self.score.1 }}
      </div>
      
      <div>
        {{ self.leaderboard }}
      </div>   -->


   <!--  <div>
      <input type="button" value="Refresh" onclick="reload_leaderboard();">
    </div> -->
  
    <!-- <div id="leaderboard_table">
      <table style="width: 100%;">
          <caption>Top {{ self.leaderboard_max_length }} scores for this problem</caption>
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Score</th>
              </tr>
          </thead>
          <tbody>
              {% for leader in self.leaderboard %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ leader.0 }}</td>
                  <td>{{ leader.1 }}</td>
                </tr>
              {% endfor %}

                <tr class="main_head">
                  <td scope="col">???</td>
                  <td scope="col">{{ self.additional_publish_event_data.username }}</td>
                  <td scope="col">{{ self.score.1 }}</td>
              </tr>
          </tbody>
      </table>

    </div> 
   
      <style>
      /*adding table style through css*/
          thead,
          tfoot {
              background-color: #3f87a6;
              color: #fff;
          }

          .main_head {
              background-color: #ffe3a1;
              color: #fff;
          }
          tbody {
              background-color: #e4f0f5;
          }

          caption {
              padding: 10px;
              caption-side: bottom;
          }

          table {
              border-collapse: collapse;
              border: 2px solid rgb(200, 200, 200);
              letter-spacing: 1px;
              font-family: sans-serif;
              font-size: .8rem;
          }

          td,
          th {
              border: 1px solid rgb(190, 190, 190);
              padding: 5px 10px;
              text-align: center;
          }

      </style>

  
  </div>-->

  <p class="copyright">
  
    Copyright &copy; 2013&ndash;2015 OpenCraft, Harvard, edX, McKinsey, and The People's Science, released under the
    <a target="_blank" href="https://github.com/open-craft/problem-builder/blob/master/LICENSE">{% trans "APGLv3 license" %}</a>
  </p>
</div>
